{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "object-curly-spacing": ["warn", "never"],
    "func-names": "off",
    "space-before-function-paren": ["error", "never"],
    "max-len": ["error", 120, 4],
    "import/prefer-default-export": "off",
    "react/prefer-es6-class": "off",
    "react/prop-types": "off",
    "jsx-a11y/anchor-has-content": ["error"],
    "no-prototype-builtins": "off"
  }
}
